{% extends "patient_dashboard.html" %}
{% block content_dash %}
<div class="container mt-5">
    <h3>Your Appointments</h3>
    <table class="table  table-hover  table-striped ">
        <thead class="table-primary">
            <tr>
                <th>Patient</th>
                <th>Date</th>
                <th>Time</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.patient.user.get_full_name }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.reason }}</td>
                    <td>{{ appointment.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
