{% extends 'layout.html' %}
{% block content %}
<div class='row mt-2 mb-2'>
<div class="sidebar bg-success">
    <div class='col-5'>
    <div class="profile">
        <img src="{{ user.get_profile_photo }}" alt="Profile Photo">
        <h5>{{ user.get_full_name }}</h5>
    </div>
    <nav class="nav flex-column">
        {% block sidebar %}
        <!-- Sidebar content -->
        {% endblock %}
    </nav>
</div>
</div>
<div class='col-7'>
<div class="content">
    <div class="content-header">
        {% block header %}Welcome, {{ user.get_full_name }}!{% endblock %}
    </div>
    {% block content_dash %}
    <!-- Main content -->
    {% endblock %}
</div>
</div>
</div>
{% endblock  %}